.image-back
{
	width: 100%;
	height: 100%;
	position: absolute;
}

.profil-container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.left-slide,.right-slide
{
	height: 35px;
	margin-top: 25%;
	border-radius: 10px;
	border-style: none;
}
.left-slide
{
	margin-right: 15px;
}
.right-slide
{
	margin-left: 15px;
}
.card-c {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    background:white;
}

.card-c:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    border-radius: 15px;
    padding: 2px 16px;
}
.man,.woman
{
	width: 50px;
	height: 50px;
}
.body-logIn
{
	height: 540px;
}
.body-log
{
	font-family: Pacifico;
	background-image: url("../image/test1.jpg"); 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.all-c
{
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.all
{
	width: 30%;
    background: #C0C1C1;
   	padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.city_content_input
{
	margin-bottom: 10px;
}
.all-city
{
	display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.p-city-container
{
	padding: 5px 10px 0px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #EBF1EE;
}
.delete-input-city
{
	margin-left: 5px;
}
.content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;	
	margin-bottom: 15px;
}
.addAMember,.auth
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.addButMem
{
	background:#0076FE;
	color: white;
}
.body-log
{
	background:#0076FE;
	height: 800px;
}
.link-log
{
	margin-left: 100px;
	margin-right: 50px;
	border:1px solid white;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
}
.link-log a
{
	color:white;
}
.err
{
	color:red;
	margin: 5px 0px  15px 0px;
}
.askSign
{
	margin-top: 10px;
}
.nav
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.nav a
{
	color: black;
}
.header
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: white;
	height: 80px;
	padding-top: 10px;
	background:#FF6BFF;
	font-family: Pacifico;
}
.display
{
	color: white;
	background: black;
	width: 100%;
}

.conn
{
	margin-top: 15px;
}