<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="style/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="script/myscript.js"></script>
  </head>
  <body>
    <div class="container">
    <div id="header">
      <div class="logo"><a href="#"><img src="images/logo.jpg" alt="" /></a></div>
       <ul class="site-nav">
          <li><a href="index?" class="act">Home</a></li>
          <li><a href="index?controller=albums&action=listing">Albums</a></li>
          <li><a href="index?controller=artists&action=listing">Artists</a></li>
          <li><a href="index?controller=Genres&action=listing">Genres</a></li>
        </ul>
      </div>    
    <div ng-controller="detailGenre">
      <div ng-repeat="data in listMyInformation">
        <div>
          <div>{{data['name']}}</div>
          <div><a href="#"  ><img src="{{data['photo']}}" /></a></div>
          <div>{{data["bio"]}}</div>
          <div><a href="index?controller=albums&action=detail"  ng-click="getAlbum(data['id'])"><img src="{{data['cover']}}" /></a></div>
          <div>{{data["description"]}}</div>
          <div>{{data["Popularity"]}}</div>
          <div>{{data["Release date"]}}</div>
          </div>
        </div>
    </div>  
  </div>
  </body>
</html>