<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="style/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="script/myscript.js"></script>
  </head>
  <body>
    <div class="container">
    <div ng-controller="detailAlbums">
       <div><img src="{{listMyInformation[0]['Cover']}}" /></div>
          <div>{{listMyInformation[0]['Name']}}</div>
          <div>{{listMyInformation[0]['Genre']}}</div>
          <div>{{listMyInformation[1]['Genre']}}</div>
          <div>{{listMyInformation["Popularity"]}}</div>
      <div ng-repeat="data in listMyInformation">        
          <div><a href="index?controller=tracks&action=detail"  ng-click="getAlbum(data['Number'])">{{data['Number']}}</a></div>
        </div>
    </div>  
  </div>
  </body>
</html>