<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="style/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="script/myscript.js"></script>
  </head>
  <body>
    <div ng-controller="listGenre">
     <div ng-repeat="data in listMyInformation">
        <div><a href="index?controller=genres&action=detail"  ng-click="getAlbum(data['id'])">{{data["name"]}}</a></div>
      </div>
    </div>    
  </body>
</html>