<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="style/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="../script/my_script.js"></script>
  </head>
  <body>
    <div ng-controller="listAlbums">
      <div ng-repeat="data in listMyInformation">
        <div>
          <div> {{data["name"]}}</div>
          <div><a href="index?controller=albums&action=detail"  ng-click="getAlbum(data['id'])"><img src="{{data['cover_small']}}" /></a></div>
          <div>{{data["description"]}}</div>
          <div>{{data["popularity"]}}</div>
          <div>{{data["release_date"]}}</div>
          </div>
        </div>
        <ul ng-if="vm.pager.pages.length" class="pagination">
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                <a ng-click="vm.setPage(page)">{{page}}</a>
            </li>               
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
            </li>
        </ul>
        <div id="target-content" ></div>
        
        <div align="center">
          <ul class='pagination text-center' id="pagination">
          </ul>
        </div>       
    </div>    
  </body>
</html>
 